<div class="container mt-2">
<h2 class='my-4'>MyPurchases</h2>
<div class="table-responsive">
  <table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th class='text-center' scope="col">#</th>
      <th class='text-center' scope="col">Chemical</th>
      <th class='text-center' scope="col">Price</th>
      <th class='text-center' scope="col">Date</th>
      <th  class='text-center' scope="col">Seller</th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <th class='text-center' scope="row">0<%= purchase.id %></th>
        <td class='text-center'><%= purchase.product.name %></td>
        <td class='text-center'>$ <%= sprintf("%.2f", purchase.product.price) %></td>
        <td class='text-center'><%= purchase.date_purchase.strftime('%d/%m/%Y') %></td>
        <td class='text-center'><%= purchase.product.user.first_name.titleize %> <%= purchase.product.user.last_name.titleize %></td>
    </tr>
    <% end %>

  </tbody>
  </table>
 </div>
</div>
