<div class="navbar navbar-expand-sm navbar-light navbar-lewagon py-0">
  <div class="container-fluid">
    <%= link_to "/products", class: "navbar-brand" do %>
      <h1 class="navbar-text">MyChemicals <i class="fa-solid fa-wheat-awn"></i></h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a href="#" class=" btn nav-account p-2" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bem vindo <%= current_user.first_name %> <i class="fa-solid fa-caret-down"></i>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <div>
              <%= link_to "Meu carrinho", cart_path, class: "dropdown-item" %>
              <%= link_to "Meus produtos", "/products/myproducts", class: "dropdown-item" %>
              <%= link_to "Meus pedidos", mypurchases_path, class: "dropdown-item" %>
              <%= link_to "Minha conta", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: " btn nav-account"  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
