<h2>Seu Carrinho</h2>

<% if @cart.present? && @cart.cart_items.any? %>
  <ul>
    <% @cart.cart_items.each do |cart_item| %>
      <%= cart_item.product.name %>
      <%= form_with url: cart_item_path(cart_item), method: :delete do %>
        <%= submit_tag 'Remove', data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>Seu Carrinho está vazio.</p>
<% end %>

<%= link_to 'Continuar Comprando', products_path %>
<%= button_to 'Esvaziar Carrinho', cart_path(@cart), method: :delete, data: { confirm: 'Esvaziar o carrinho?' }, class: 'btn btn-warning' %>
<%= button_to "Comprar", purchase_items_cart_path, method: :post, class: "btn btn-primary", data: { confirm: "Finalizar a Compra?" } %>
