<h2>Edit item quantity</h2>

<%= form_with(model: @cart_item, local: true) do |form| %>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1 %>
  </div>

  <div class="actions">
    <%= form.submit "Update quantity" %>
  </div>
<% end %>

<%= link_to 'Back to Cart', cart_path %>
