<div class="card-container">
  <div class="product-card">
    <div class="product-image m-2">
      <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, height: 400, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag Faker::LoremFlickr.image(size: "400x400", search_terms: ['fertilizer']) ,class:'img-fluid'%>
      <% end %>
    </div>
    <div class="product-info pt-2 px-2 mt-2">
        <h2 class="product-title"><%= @product.name %></h2>
        <p class="product-description"><%= @product.description %></p>
        <span class="product-price">R$ <%= sprintf("%.2f", @product.price) %></span>
          <p>Vendedor: <%= @product.user.first_name %> <%= @product.user.last_name %></p>
        <% if current_user != @product.user %>
        <div class="mt-5 pt-5">
          <%= link_to "Adicione ao carrinho", add_product_to_cart_cart_path(product_id: product.id), data: { turbo_method: :post, turbo_confirm: "Quer realmente adicionar esse item?" }, class: "btn-add-to-cart " %>
           <%= link_to "Comprar agora", product_purchases_path(product), data: {turbo_method: :post, turbo_confirm: "Confirmar compra?"} , class: "btn-add-to-cart mx-2"%>
        </div>
        <% end %>
        </div>
    </div>
  </div>
  </div>
</div>

<div class="card-container-review">
  <div class="card w-50">
    <div class="card-header">
      Avaliações
    </div>
    <ul class="list-group list-group-flush">
    <% @product.reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <% if review.user %>
            <div class="fw-bold mb-2">Comentario de <%= review.user.first_name %> <%= review.user.last_name %>:</div>
          <% else %>
            <div class="fw-bold mb-2">Usuario anônimo:</div>
          <% end %>
          <p>- <%= review.content %></p>
        </div>
        <span class="badge bg-primary"><% review.rating.times do %> <i class="fa-solid fa-star"></i> <% end %> </span>
        <% if current_user == review.user %>
          <%= link_to review_path(review), data: {turbo_method: :delete, turbo_confirm: "Apagar Avaliação?"}, class: "btn bg-transparent" do %><i class="fa-solid fa-trash"></i><% end %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="card shadow-sm bg-white w-50">
  <h2 class="m-3">Adicionar nova Avaliação?</h2>
    <div class="m-3">
      <%= simple_form_for [@product, @review] do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Avalie este produto", input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :content %>
        <%= f.submit "Enviar avaliação", class: "btn-login" %>
      <% end %>
    </div>
  </div>
</div>
