<div class="container">
  <div class="row col-8">
    <div class="card-trip">
      <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag Faker::LoremFlickr.image(size: "70x70", search_terms: ['fertilizer'])%>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2>Product:</h2>
          <p> <%= @product.name %> </p>
          <br>
          <h2>Description:</h2>
          <p> <%= @product.description %> </p>
        </div>
      </div>
      <div class="card-trip-infos">
        <div>
          <h2>Seller:</h2>
          <p> <%= @product.user.first_name %> <%= @product.user.last_name %> </p>
        </div>
        <h2 class="card-trip-pricing">R$<%= @product.price %></h2>
        <% if current_user != @product.user %>
          <%= link_to "Comprar",product_purchases_path(product), data: {turbo_method: :post, turbo_confirm: "Are you sure?"} , class:'btn btn-success'%>
        <% end %>
        <p><%= link_to "Delete", product_path(@product),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
      </div>
    </div>
  </div>
</div>
