<h1>Edit product <%= @product.name %></h1>
<%= simple_form_for @product do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.button :submit, "Update Product", class:'btn-update-product' %>
<% end %>

<%= link_to 'Back to my products', myproducts_products_path, class:'btn-back-to-my-products'%>
