<div class="container mt-4">
<div class="col-md-8 mx-auto px-4 rounded-2 bg-white">
<h1>Create a new product</h1>
<%= simple_form_for @product do |f| %>
  <%= f.input :name, label_html: { class: "label-form" } %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
</div>
</div>
