<div class="container">
  <div class="form-shape col-md-6 mx-auto">
    <h1 class="form-title">Cadastrar novo produto</h1>
    <%= simple_form_for @product do |f| %>
      <%= f.input :name, label_html: { class: "label-form" }, label: "Nome" %>
      <%= f.input :price, label: "Preço" %>
      <%= f.input :description, label: "Descrição" %>
      <%= f.input :photo, as: :file, label: "Imagem" %>
      <%= f.button :submit, class: "my-2 btn-login" %>
    <% end %>
  </div>
</div>
