<div class="container">
  <div class="row col-8">
    <div class="card-trip">
      <% image_url = Faker::LoremFlickr.image(size: "70x70", search_terms: ['fertilizer']) %>
      <%= image_tag(image_url) %>
      <div class="card-trip-infos">
        <div>
          <h2>Product:</h2>
          <p> <%= @product.name %> </p>
          <br>
          <h2>Description:</h2>
          <p> <%= @product.description %> </p>
        </div>
      </div>
      <div class="card-trip-infos">
        <div>
          <h2>Seller:</h2>
          <p> <%= @product.user.first_name %> <%= @product.user.last_name %> </p>
        </div>
        <h2 class="card-trip-pricing">R$<%= @product.price %></h2>
        <a href="#" class="btn btn_success">COMPRAR</a>
      </div>
    </div>
  </div>
</div>
